.rss_container {
  padding: 0;
  margin: 0;
  position: relative;

  .rss_navigator {
    background-color: #f5f5f5;
    border: 1px solid rgba(221, 221, 221, 0.6);
    border-bottom: 0;
    height: 58px;
    padding: 12px;
  }

  .rss_scheduler {
    width: 100%;
  }

  .rss_resource_scroll {
    display: inline-block;
    vertical-align: top;

    .rss_resource_container {
      border-left: 1px solid #e9e9e9;
      border-top: 1px solid #e9e9e9;
      overflow: hidden;
      .rss_resource_header {
        overflow: hidden;
        border-bottom: 1px solid #e9e9e9;
      }
    }
  }

  .rss_data_scroll {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow-x: auto;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;

    .rss_data_container {
      position: relative;
      border-left: 1px solid #e9e9e9;
      border-top: 1px solid #e9e9e9;
      margin: 0 0 0 -1px;
      padding: 0;
      vertical-align: top;
      overflow: hidden;

      .rss_data_header {
        overflow: hidden;
        border-bottom: 1px solid #e9e9e9;
      }
      .rss_data_header_table {
        overflow-x: hidden;
        overflow-y: hidden;
      }

      .cell-body {
        margin: 0;
        position: relative;
      }

      .scheduler-content {
        position: relative;
        z-index: 2;
      }
    }
  }

  .event-container {
    position: relative;
    z-index: 2;
    table.event-table {
      margin: 0;
      padding: 0;
      border: 0 solid #e9e9e9;
      border-spacing: 0;
    }
  }

  .scheduler-table-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
  }

  table.rss_resource_table,
  table.scheduler-table,
  table.rss_data_header_table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
    text-align: center;
    .header-text {
      font-size: 12px;
      font-weight: 500;
    }
    & .bg-normal {
      background-color: #fff;
    }
    & .bg-highlight {
      color: #999999;
      background-color: #fff0f6;
    }
  }

  table.rss_resource_table tr,
  table.scheduler-table tr,
  table.rss_data_header_table tr {
    border-bottom: 1px solid #e9e9e9;
  }

  table.rss_resource_table th,
  table.scheduler-table th,
  table.rss_data_header_table th,
  table.rss_resource_table td,
  table.scheduler-table td {
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }

  table.scheduler-table th {
    border-right: 1px solid #e9e9e9;
  }

  table.rss_resource_table tr th:last-child,
  table.scheduler-table tr th:last-child,
  table.rss_resource_table tr td:last-child,
  table.scheduler-table tr td:last-child {
    border-right: 0;
  }

  table.scheduler-table tr:last-child td {
    border-bottom: 0;
  }
}
